#leaderEmotionCloud{
    cursor:pointer;
    height:100%;
    overflow:hidden;
    position: relative;
}
#leaderEmotionCloud a{
    text-decoration: none;
}
#leaderEmotionCloud .b0{
    position: absolute;
    left: 110px;
    top: 180px;
}
#leaderEmotionCloud .b1{
    position: absolute;
    top: 110px;
    left: 20px;
}
#leaderEmotionCloud .b2{
    position: absolute;
    bottom: 180px;
    right: 0;
}
#leaderEmotionCloud .b3{
    position: absolute;
    top: 130px;
    right: 0px;
}
#leaderEmotionCloud .b4{
    position: absolute;
    top: 70px;
    right: 0;
}
#leaderEmotionCloud .b5{
    position: absolute;
    top: 240px;
    left: 10px;
}
#leaderEmotionCloud .b6{
    position: absolute;
    top: 45px;
    left: 30px;
}
#leaderEmotionCloud .b7{
    position: absolute;
    top: 20px;
    right: 30px;
}
#leaderEmotionCloud .b8{
    position: absolute;
    bottom: 140px;
    left: 10px;
}
#leaderEmotionCloud .b9{
    position: absolute;
    top: 0;
    left: 10px;
}
#leaderEmotionCloud .b10{
    position: absolute;
    bottom: 140px;
    right: 10px;
}
#leaderEmotionCloud .b11{
    position: absolute;
    bottom: 100px;
    right: 10px;
}
#leaderEmotionCloud .b12{
    position: absolute;
    bottom: 60px;
    left: 40px;
}
#leaderEmotionCloud .b13{
    position: absolute;
    bottom: 10px;
    left: 0;
}
#leaderEmotionCloud .b14{
    position: absolute;
    bottom: 0;
    right: 20px;
}