#leaderEmotionCloud{
    cursor:pointer;
    height:100%;
    overflow:hidden;
    position: relative;
}
#leaderEmotionCloud a{
    text-decoration: none;
}
#leaderEmotionCloud .b0{
    position: absolute;
    left: 130px;
    top: 200px;
}
#leaderEmotionCloud .b1{
    position: absolute;
    top: 145px;
    left: 60px;
}
#leaderEmotionCloud .b2{
    position: absolute;
    bottom: 170px;
    right: 40px;
}
#leaderEmotionCloud .b3{
    position: absolute;
    top: 140px;
    right: 0;
}
#leaderEmotionCloud .b4{
    position: absolute;
    top: 290px;
    left: 60px;
}
#leaderEmotionCloud .b5{
    position: absolute;
    top: 75px;
    left: 80px;
}
#leaderEmotionCloud .b6{
    position: absolute;
    bottom: 100px;
    right: 70px;
}
#leaderEmotionCloud .b7{
    position: absolute;
    top: 65px;
    right: 30px;
}
#leaderEmotionCloud .b8{
    position: absolute;
    bottom: 80px;
    left: 60px;
}
#leaderEmotionCloud .b9{
    position: absolute;
    top: 20px;
    left: 70px;
}
#leaderEmotionCloud .b10{
    position: absolute;
    bottom: 60px;
    right: 120px;
}
#leaderEmotionCloud .b11{
    position: absolute;
    top: 110px;
    right: 40px;
}
#leaderEmotionCloud .b12{
    position: absolute;
    bottom: 10px;
    left: 80px;
}
#leaderEmotionCloud .b13{
    position: absolute;
    top: 15px;
    right: 60px;
}
#leaderEmotionCloud .b14{
    position: absolute;
    bottom: 10px;
    right: 40px;
}