#leaderEmotionCloud{
    cursor:pointer;
    height:100%;
    overflow:hidden;
    position: relative;
}
#leaderEmotionCloud a{
    text-decoration: none;
}
#leaderEmotionCloud .b0{
    position: absolute;
    left: 110px;
    top: 200px;
}
#leaderEmotionCloud .b1{
    position: absolute;
    top: 135px;
    left: 20px;
}
#leaderEmotionCloud .b2{
    position: absolute;
    bottom: 170px;
    right: 20px;
}
#leaderEmotionCloud .b3{
    position: absolute;
    top: 160px;
    right: 30px;
}
#leaderEmotionCloud .b4{
    position: absolute;
    bottom: 120px;
    right: 10px;
}
#leaderEmotionCloud .b5{
    position: absolute;
    top: 75px;
    left: 30px;
}
#leaderEmotionCloud .b6{
    position: absolute;
    top: 280px;
    left: 10px;
    
}
#leaderEmotionCloud .b7{
    position: absolute;
    top: 65px;
    right: 30px;
}
#leaderEmotionCloud .b8{
    position: absolute;
    bottom: 110px;
    left: 40px;
}
#leaderEmotionCloud .b9{
    position: absolute;
    top: 20px;
    left: 20px;
}
#leaderEmotionCloud .b10{
    position: absolute;
    bottom: 60px;
    right: 130px;
}
#leaderEmotionCloud .b11{
    position: absolute;
    top: 110px;
    right: 0;
}
#leaderEmotionCloud .b12{
    position: absolute;
    bottom: 10px;
    left: 40px;
}
#leaderEmotionCloud .b13{
    position: absolute;
    top: 15px;
    right: 60px;
}
#leaderEmotionCloud .b14{
    position: absolute;
    bottom: 0;
    right: 20px;
}