html, body {
    position: relative;
    height: 100%;
  }
  body {
    margin: 0;
    padding: 0;
  }
  #jProductDetailCont{
      height:100%;
  }
  #jProductDetailCont .swiper-container {
    width: 100%;
    height: 100%;
  }
  #jProductDetailCont .swiper-slide {
    font-size: 18px;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 30px;
  }